*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #000;
}

.menu-container {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.burger {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: #f1f1f1;
  cursor: pointer;
  z-index: 20;
}

.ligne {
  width: 50%;
  height: 3px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
  background: #000;
}

.ligne::after, .ligne::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 5px;
  position: absolute;
}

.ligne::after {
  top: -10px;
}

 .ligne::before {
  top: 10px;
 }

/*  animation burger */

.menu-container.active .ligne::before {
  transition: transform .2s ease-in-out;
  transform: translateY(-10px) rotate(-45deg)
}
.menu-container.active .ligne::after {
  transition: transform .2s ease-in-out;
  transform: translateY(10px) rotate(45deg)
}

.menu-container.active .ligne {
  background: transparent;
}





 /*  elements */

 .box img {
  width: 30px;
 }

 .box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
 }





 /* Animation elements */

 .menu-container.active .box1 {
   left: -25%;
   top: 100%;
   transition: left .2s .1s ease-in,
                    top .2s .1s ease-in;
  }
  .menu-container.active .box2 {
   left: 0%;
   top: 100%;
   transition: left .2s .2s ease-in,
                    top .2s .2s ease-in;
  }
 .menu-container.active .box3 {
  left: 25%;
  top: 100%;
  transition: left .2s .3s ease-in,
                   top .2s .3s ease-in;
     }

  .menu-container.active .box4 {
    left: 50%;
    top: 100%;
    transition: left .2s .4s ease-in,
                    top .2s .4s ease-in;
 }

 .menu-container.active .box5 {
   left: 75%;
   top: 100%;
   transition: left .2s .5s ease-in,
                    top .2s .5s ease-in;
 }

   .menu-container.active .box6 {
      left: 100%;
      top: 100%;
      transition: left .2s .6s ease-in,
                       top .2s .6s ease-in;
    }

    .menu-container.active .box7 {
  left: 125%;
  top: 100%;
  transition: left .2s .7s ease-in,
                  top .2s .7s ease-in;
 }


