body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background: rgb(244, 106, 106);
}

.container {
  width: 500px;
  height: 200px;
  background: #f1f1f1;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0,0,0,.3);
}

h1 {
  text-align: center;
  color: rgb(244, 106, 106);
  margin: 13px 0;
}

.inputs-group {
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}

input {
  height: 25px;
  outline: none;
  text-align: center;
  color: #333;
}


.cont-select {
  width: 100%;
  height: auto;
  display:flex;
  justify-content:space-around;


}

#unites, #unitesResultat {
display: block;
margin: 1rem 0;
color: rgb(244, 106, 106);
padding: 0.5rem 1rem;
font-weight: bold;
}